{% extends "base.html" %}

{% load i18n extra_tags general_sidebar_tags %}

{% block forejs %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% media "/media/style/admin.css" %}"/>
    <script type="text/javascript" src="{% media "/media/js/osqa.admin.js" %}"></script>
    {% block adminjs %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="headNormal">
	    {% trans "OSQA administration area" %} - {% block subtitle %}{% endblock %}
    </div>
    <div id="admin_page_description">
        {% block description %}{% endblock %}
    </div>
    <div>
        {% block admincontent %}
        {% endblock %}
    </div>
{% endblock %}

{% block sidebar %}
    <div class="boxC">
        <a href="{% url admin_switch_interface %}?to=djstyle">{% trans "Switch to django style interface" %}</a>
        <h3 class="subtitle">{% trans "Administration menu" %}</h3>
        <ul>
        {% for set in allsets.values %}
            <li><a href="{% url admin_set set.name %}">{{ set.title }}</a></li>
        {% endfor %}
        
        {% for set in othersets %}
            <li>
                <a href="{% url admin_set set.name %}">{{ set.title }}</a>
            </li>
        {% endfor %}
        
        <li><a href="{% url admin_maintenance %}">{% trans "Maintenance mode" %}</a></li>
        <li><a href="{% url admin_flagged_posts %}">{% trans "Flagged Posts" %}</a></li>
        {% for name,tool in tools.items %}
            <li><a href="{% url admin_tools name %}">{{ tool.label }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% if markdown %}
        {% markdown_help %}
    {% endif %}
{% endblock %}

                
