{% extends basetemplate %}

{% load i18n extra_tags extra_filters %}

{% block subtitle %}{{ form.set.title }}{% endblock %}
{% block pagename %}{{ form.set.title }}{% endblock %}
{% block description %}{{ form.set.description }}{% endblock %}

{% block admincontent %}
    <form action="" method="POST" enctype="multipart/form-data" accept-charset="utf-8">
        <table id="admin_form" style="width: 100%">
            {{ form.as_table }}
            <tr>
                <th></th>
                <td>
                    <input id="submit" name="submit" type="submit" value="{% trans "Save" %}" onclick="this.form.target=''; return true;" />
                    {% if form.set.can_preview %}
                        <input id="preview" name="preview" type="submit" value="{% trans "Preview" %}" onclick="this.form.target='_blank'; return true;" />
                        {% if form.set.name|contained_in:unsaved %}
                            <input id="reset" name="reset" type="submit" value="{% trans "Reset Changes" %}" onclick="this.form.target=''; return true;" />
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        </table>
    </form>
{% endblock %}