{% extends basetemplate %}

{% load i18n %}

{% block subtitle %}{% trans "Static pages" %}{% endblock %}
{% block pagename %}{% trans "Static pages" %}{% endblock %}
{% block description %}{% trans "Allows you to create a set of static pages" %}{% endblock %}

{% block admincontent %}
    <h1>{% trans "Select page to edit" %}</h1>
    <ul class="object-tools">
        <li><a class="addlink" href="{% url admin_new_page %}">{% trans "New page" %}</a></li>
    </ul>
    <div class="module">
        <table style="width: 100%">
            <caption>{% trans "Pages" %}</caption>
            <tbody>
                {% for page in pages %}
                    <tr>
                        <th scope="row"><a href="{% url admin_edit_page id=page.id %}">{{ page.headline }}</a></th>
                        <td><a class="changelink" href="{% url admin_edit_page id=page.id %}">{% trans "Edit" %}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}