*.class
*.pyc
*.iml
# Package Files #
*.jar
*.war
*.ear
qa-engine/settings_local.py
qa-engine/log/*
qa-engine/cache/*
qa-engine/build/*
qa-engine/tmp/
.idea/
.Rhistory
analytic-module/java/syllabus/index/
