{% load i18n %}
{% load question_list_tags %}

<div id="subscription_list" align="left">
    <h2>
        {% trans "Manage your current subscriptions" %}
        <span style="font-size:11px">
            {% if auto %}
                <a href='{% url user_subscriptions id=view_user.id slug=view_user.username|slugify %}?auto=False&tab=manage'>{% trans "don't show auto-subscribe" %}</a>
            {% else %}
                <a href='{% url user_subscriptions id=view_user.id slug=view_user.username|slugify %}?auto=True&tab=manage'>{% trans "show auto-subscribe" %}</a>
            {% endif %}
        </span>
    </h2>

    {% for subscription in subscriptions.paginator.page %}
        {% subscription_list_item subscription subscription.question %}
    {% endfor %}

    <div class="pager">{{ subscriptions.paginator.page_numbers }}</div>
</div>

<br />
<br />

<!-- end user_subscriptions.html -->
