{% extends "base_content.html" %}
<!-- users.html -->
{% load extra_tags %}
{% load humanize %}
{% load i18n %}
{% block title %}{% spaceless %}{% trans "Users" %}{% endspaceless %}{% endblock %}
{% block forejs %}
       <script type="text/javascript">
	   //todo move javascript out
        $().ready(function(){
            $("#type-user").attr('checked',true);
            var orderby = "{{ tab_id }}";
            $("#sort_" + orderby).attr('className',"on");
            
            Hilite.exact = false;
            Hilite.elementid = "main-body";
            Hilite.debug_referrer = location.href;
        });
        </script>
{% endblock %}
{% block content %}
<div class="tabBar">
    <div class="headUsers">{% trans "Users" %}</div>
    {{ users.paginator.sort_tabs }}
</div>
<div id="main-body" style="width:100%">
    <p>        
        {% if suser %}
			{% blocktrans %}users matching query {{suser}}:{% endblocktrans %}
        {% endif %}
    
        {% if not users.paginator.count %}
            <span>{% trans "Nothing found." %}</span>
        {% endif %}
    </p>
    <div class="userList">
        {% for user in users.paginator.page %}
        <div class="user">
            <ul>
                <li class="thumb"><a href="{{ user.get_profile_url }} ">{% gravatar user 32 %}</a></li>
                <li><a {% if user.is_suspended %}class="suspended-user" {% endif %}href="{{ user.get_profile_url }}">{{ user.decorated_name }}</a></li>
                <li>{% get_score_badge user %}</li>
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block tail %}
<div class="pager">
    {{ users.paginator.page_numbers }}
</div>              
{% endblock %}
<!-- end users.html -->
