{% load i18n extra_tags email_tags %}

{% declare %}
    prefix = html.mark_safe(settings.EMAIL_SUBJECT_PREFIX)
    answer_author = html.mark_safe(answer.author.username)
    question = answer.question
    question_title = html.mark_safe(question.title)
    accepted_by = html.mark_safe(answer.nstate.accepted.by.username)
    accepted_by_link = html.objlink(answer.nstate.accepted.by, style=settings.EMAIL_ANCHOR_STYLE)
    answer_author_link = html.objlink(answer.author, style=settings.EMAIL_ANCHOR_STYLE)
    question_link = html.objlink(question, style=settings.EMAIL_ANCHOR_STYLE)
{% enddeclare %}

{% email %}
    {% subject %}{% blocktrans %}{{ prefix }} An answer to: {{ question_title }} has been accepted{% endblocktrans %}{% endsubject %}

    {% htmlcontent notifications/base.html %}
        <p style="{{ p_style }}">
            {% blocktrans %}
            {{ accepted_by_link }} has just accepted {{ answer_author_link }}'s answer on his question
            {{ question_link }}.
            {% endblocktrans %}
        </p>
    {% endhtmlcontent %}

{% textcontent notifications/base_text.html %}
{% blocktrans %}
{{ accepted_by }} has just accepted {{ answer_author }}'s answer on his question
"{{ question_title }}".
{% endblocktrans %}
{% endtextcontent %}

{% endemail %}
