{% load i18n extra_tags email_tags %}

{% declare %}
    prefix = html.mark_safe(settings.EMAIL_SUBJECT_PREFIX)
    app_name = html.mark_safe(settings.APP_SHORT_NAME)

    exclude_greeting = True
    exclude_finetune = True
{% enddeclare %}

{% email %}
    {% subject %}{% blocktrans %}{{ prefix }} Feedback message from {{ app_name }}{% endblocktrans %}{% endsubject %}

    {% htmlcontent notifications/base.html %}
        <p style="{{ p_style }}">
            {% trans "Sender" %}:{% if name %}{{ name }}{% else %}{% trans "anonymous" %}{% endif %}<br />
            {% trans "email" %}: {{ email }}
            <br/>
                ip: {{ ip }}
        </p>

        <blockquote>
        {% trans "Message body:" %} {{ message }}
        </blockquote>

    {% endhtmlcontent %}

{% textcontent notifications/base_text.html %}
{% trans "Sender" %}: {% if name %}{{ name|safe }}{% else %}{% trans "anonymous" %}{% endif %}
{% trans "email" %}: {{ email|safe }}
ip: {{ ip }}

{% trans "Message body:" %} {{ message|safe }}
{% endtextcontent %}

{% endemail %}

