{% extends base %}
{% load i18n markup node_tags general_sidebar_tags %}
{% block title %}{% spaceless %}{{ page.title }}{% endspaceless %}{% endblock %}

{% block content %}
<div class="headNormal">{{ page.title }}</div>
<div class="content">
{{ body }}
</div>
{% if page.extra.comments %}
    {% comments page request.user %}
{% endif %}
{% endblock %}

{% ifequal page.extra.template "sidebar" %}
    {% block sidebar %}
        {% sidebar_upper %}
        {% if page.extra.sidebar %}
            {% if page.extra.sidebar_wrap %}<div class="boxC"><div class="body">{% endif %}
                {{ sidebar }}
            {% if page.extra.sidebar_wrap %}</div></div>{% endif %}
        {% endif %}
        {% sidebar_lower %}
    {% endblock %}
{% endifequal %}


