{% load i18n %}
{% spaceless %}
{% for control in controls %}
    <span class="action-link">
        <a rel="nofollow" title="{{ control.title }}" class="{{ control.classes }}" href="{{ control.url }}">{{ control.text }}</a>
    </span>
    {% ifnotequal controls|last control %}
        <span class="action-link-separator">|</span>
    {% endifnotequal %}
{% endfor %}
{% if menu|length %}
    <span class="action-link-separator">|</span>
    <span id="node-{{ post.id }}-menu" class="context-menu">
        <span id="node-{{ post.id }}-menu-trigger" class="action-link context-menu-trigger">{% trans "more" %} &#9660;</span>
        <ul id="node-{{ post.id }}-menu-dropdown" class="context-menu-dropdown">
            {% for item in menu %}
            <li class="item"><a rel="nofollow" class="{{ item.classes }}" href="{{ item.url }}" title="{{ item.title }}" >{{ item.text }}</a></li>
            {% endfor %}
        </ul>
    </span>
{% endif %}
{% endspaceless %}