{% load i18n extra_tags email_tags %}

{% declare %}
    prefix = settings.EMAIL_SUBJECT_PREFIX
    app_name = settings.APP_SHORT_NAME

    exclude_finetune = True
{% enddeclare %}

{% email %}
    {% subject %}{% blocktrans %}{{ prefix }} Your email validation link {{ app_name }}{% endblocktrans %}{% endsubject %}

    {% htmlcontent notifications/base.html %}
        <p style="{{ p_style }}">{% trans "Please use the following link to help us verify your email address:" %}</p>

        <p style="{{ p_style }}"><a  style="{{ a_style }}" href="{% fullurl auth_validate_email user=recipient.id,code=validation_code %}">{% trans "Validate my email address" %}</a></p>

        <p style="{{ p_style }}">{% trans "If the above link is not clickable, copy and paste this url into your web browser's address bar:" %}</p>

        <p style="{{ p_style }}">{% fullurl auth_validate_email user=recipient.id,code=validation_code %}</p>
    {% endhtmlcontent %}

{% textcontent notifications/base_text.html %}
{% trans "Copy and paste this url into your web browser's address bar to help us verify your email address:" %}

{% fullurl auth_validate_email user=recipient.id,code=validation_code %}
{% endtextcontent %}

{% endemail %}

